<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hypnotabac">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="nosensor"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".hypno.HypnoSignupActivity"
            android:screenOrientation="nosensor" />
        <activity android:name=".hypno.HypnoMainActivity"
            android:screenOrientation="nosensor" />
        <activity android:name=".hypno.HypnoSettingsActivity"
            android:screenOrientation="nosensor" />
        <activity android:name=".hypno.edit_questions.EditQuestionsActivity"
            android:screenOrientation="nosensor" />
        <activity android:name=".hypno.stats.HypnoStatsActivity"
            android:screenOrientation="nosensor" />
        <activity android:name=".hypno.add_client.AddClientActivity"
            android:screenOrientation="nosensor" />
        <activity android:name=".client.ClientSignupActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="hypnotabac-1c267.firebaseapp.com"
                    android:scheme="https" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".client.ClientMainActivity"
            android:screenOrientation="nosensor" />
        <activity android:name=".client.ClientSettingsActivity"
            android:screenOrientation="nosensor" />
        <activity android:name=".client.ClientStatsActivity"
            android:screenOrientation="nosensor" />
    </application>

</manifest>