<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119886056834-rb70jv9f9ii7ijqlaagsc7s48jcueriq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119886056834-rb70jv9f9ii7ijqlaagsc7s48jcueriq</string>
	<key>API_KEY</key>
	<string>AIzaSyDNhdsrEKsfeZq_8y3V0BGlsvP3DhoMZgA</string>
	<key>GCM_SENDER_ID</key>
	<string>119886056834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hypnotabac.HypnoTabac</string>
	<key>PROJECT_ID</key>
	<string>hypnotabac-1c267</string>
	<key>STORAGE_BUCKET</key>
	<string>hypnotabac-1c267.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119886056834:ios:5afdbf70f02e763458939b</string>
	<key>DATABASE_URL</key>
	<string>https://hypnotabac-1c267.firebaseio.com</string>
</dict>
</plist>